/* GENERALES */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.contenido {

    max-width: 1000px;
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 30px;
}


/* ENCABEZADO */

header .contenido a {
    
    text-decoration: none;

}

header .contenido h1 {

    font-family: 'Road Rage';
    color: #2168A8;
    font-size: 50px;
    line-height: 80px;
    margin: 0px;
    padding: 30px;
}

header .contenido .img-blog {

    width: 100%;
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
}

header .contenido .img-blog img{

    width: 100%;
    vertical-align: top;
    position: relative;
    bottom: 200px;

}

/* CONTENIDO */

.main {
    padding: 0px 5px;
}

.main .contenido .articulo{

    /* text-align: left; */
    text-align: justify;
}

.main .contenido .articulo h2{
    margin: 0px;
    color: #8E8E8E;
    font-size: 45px;
    line-height: 54px;
    font-family: Roboto;
}

.main .contenido .articulo p {
    font-family: 'Open Sans';
    line-height: 30px;
    font-size: 16px;
    padding: 10px 10px;
}

/* FOOTER */

footer {
    background: #000;
    width: 100%;
    text-align: center;
    padding: 20px;
}

footer p {
    font-family: 'Open Sans' Roboto;
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
    color: #fff;
    
}

/* media queries */

@media screen and (max-width: 800px){

    header .contenido .img-blog img{

        width: 100%;
        vertical-align: top;
        position: relative;
        bottom: 150px;
    
    }
}

@media screen and (max-width: 800px){


    .contenido {

        max-width: 1000px;
        width: 90%;
        text-align: center;
        margin: auto;
        padding: 5px;
    }    

    header .contenido .img-blog {


        margin-bottom: 20px;

    }
    
    header .contenido .img-blog {

        width: 100%;
        min-height: 150px;
        max-height: 150px;
        overflow: hidden;
    }
    
    
    header .contenido .img-blog img{

        width: 100%;
        vertical-align: top;
        position: relative;
        bottom: 0px;

    }

    footer p {
        font-size: 16px;
        line-height: 30px;
        
    }

}